<ion-header [translucent]="true">
  <ion-toolbar style="background-color: rgb(255, 0, 98);">
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong >Hola mundo</strong>
    <p>Estoy aprendiendo <a target="_blank" rel="noopener noreferrer" >Ionic </a></p>
  </div>
</ion-content>
